*{margin:0; padding: 0;}
.intro{
	background:url('../images/google-glass-bg.jpg'); 
   -webkit-background-size: cover: 
   -moz-background-size:cover;
   -o-background-size:cover;
   	background-size:cover;
   	height: 1200px;
}

.intro.col-xs-12{
   background:url('../images/google-glass-bg-xs.jpg'); 
   
}

.wrapper{margin-bottom: 6.5em;}
.slogan{
	margin-top: 0;
	text-align: center;
	/* #A9A9A9   */
	color: #999999;
	font-family: 'Open Sans',sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	line-height: 1.25em;
	font-size: 3.5em;
	padding-top: 1em;
    text-shadow: 1px 1px 1px #FFF;
}
#navigation{margin-top: 22px;}
#navigation li{width:230px;}
.glasses li{float: left;display: block; margin-right: 20px; list-style: none;}
.box{
	border: 1px solid #e5e5e5; 
	width:202px;
	height:233px;
	margin-top: 10px; 
	-moz-box-shadow: 1px 0px 0px -1px #ccc;
    -webkit-box-shadow: 1px 0px 0px -1px #ccc;
     box-shadow: 1px 0px 0px -1px #ccc; 
     border-radius: 3px;
}
/*#428bca ,  #83c3d4  */
.box a{text-decoration: none;}
.box h3{
	text-align: center;
	color:rgb(66, 139, 202);
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
}
p.price{font-size: 1.4em;padding-top: 2em;padding-left: 5px;color:#63acc2;}
footer{background-color: #999999;margin-top: 20px;height: 50px;padding-top: 15px;}
.copy{text-align: center;margin-bottom: 0;color: #FFF;}